body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
}
.menu-link.active {
    font-weight: bold;
    color: #0d6efd;
}
.menu-link:hover {
    color: #0d6efd;
}
.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}
.indent {
    text-indent: 15px;
}
.fotografenko {
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: opacity 0.3s;
}
.zoom {
    transition: transform 0.3s ease;
}
.zoom:hover {
    transform: scale(1.1);
}
.form-container {
    max-width: 600px;
    margin: 100px auto;
}
.bg-custom-gray {
    background-color: #d3d3d3;
}
